/* Dropdown Toggle Icon && Hover Effects
========================================================================= */

.dropdown-toggle {

    &.show {
        &::after {
            content: "\e940";
        }
    }

    &::after {
        content: "\e92d";
        font-family: "iconsax" !important;
        display: inline-block;
        vertical-align: bottom;
        padding-right: 6px;
        border: none
    }

}

.dropdown-item {

    transition: all 0.3s ease;

    p {
        transition: all 0.3s ease;
    }

    i {
        font-size: 12px;
        transition: color 0.3s ease;
    }

    &:hover {

        p {
            color: black !important;
            &.hover-margin {
                margin-right: 1em;
            }
        }

        i {
            visibility: visible !important;
            &.to-primary {
                color: #0043A4 !important;
            }
            &.to-secondary {
                color: #01A686 !important;
            }
            &.to-danger {
                color: #FF0000 !important;
            }
        }
    }

}

/* Footer && Top Footer
========================================================================= */

footer {
    a {
        color: white;
        transition: all 0.2s ease;
        &:hover {
            color: #0043A4;
        }
    }
}

.top-line {
    width: 50px;
    height: 6px;
}

.subform {
    background: rgb(1,166,134);
    background: linear-gradient(39deg, rgba(1,166,134,1) 0%, rgba(0,67,164,1) 100%); 
    border-radius: 10px 60px 10px 10px;
    padding: 24px;
    max-width: 656px;

    &__input-group {
        display: flex;
        align-items: center;
        position: relative;

        &__input {
            width: 300px;
        }

        button {
            position: absolute;
            font-size: 14px;
            left: 3px;
        }
    }
}

/* Main Page Welcome
========================================================================= */

.main-welcome {
    width:100%;
    min-height:800px;
    position: relative;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;

    &__title {
        max-width: 675px;

        &__btn {
            width: 315px;
            height: 64px;
            &--hover {
                display: inline-flex;
                align-items: center;
                width: 65px;
                background-color: none;
                overflow: hidden;
                transition: all 0.5s ease;
                span {
                    display: block;
                    white-space: nowrap;
                    width: 0;
                }
                &:hover {
                    width: 215px;
                    background-color: white;
                    span {
                        width: auto;
                    }
                }
            }
            img {
                padding: 17px;
                border-radius: 50%;
                background-color: #01a6854f;
                outline: 5px solid rgba(255, 255, 255, 0.07);
                margin: 0 5px;
            }
        }
    }

    &__counter {
        max-width: 675px;
    }

    &__testimonial {
        position: absolute;
        left: 9%;
        top: 48%;
        width: 270px;

        &__content {
            background: rgba(0, 67, 164, 0.3);
            backdrop-filter: blur(25px);
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 51px;
        }
    }

}

.main-search {
    max-width: 675px;
    margin: 0 auto;
    padding: 24px;
    border-radius: 10px;
    margin-top: -68px;
    position: relative;

    &__text {
        span,input {
            background: none !important;
        }
        box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.05);
    }
}

/* Main Page Courses Carousel
========================================================================= */

.bottom-line {
    width: 42px;
    height: 4px;
}

.courses-carousel {

    &__top {
        position: relative;
    }

    &__img {
        display: block;
        width: 100%;
        height: auto;
    }

    &__overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: all .5s ease;
        background-color: #0d206d86;  
    }

    &__link {
        &:hover {
            .courses-carousel__overlay {
                opacity: 1;
            }
            img {
                filter: blur(6px);
            }
        }
    }

    &__next-btn {
        position: absolute;
        left: -80px;
        top: 50%;
        width: unset;
        z-index: 9;
    }
    


}

/* Main Page Coaches Carousel
========================================================================= */

.coaches-carousel {

    .card h5, .card h6 {
        transition: all 0.4s ease;
    }

    .card:hover {

        cursor: pointer;

        h5 {
            color: #3962D1 !important;
        }

        h6 {
            color: #707070 !important;
        }
    }

    &__next-btn {
        position: absolute;
        left: -80px;
        top: 50%;
        width: unset;
        z-index: 9;
    }
}

/* Main Page Special Events Carousel
========================================================================= */
.events-carousel {

    &__next-btn {
        position: absolute;
        left: -80px;
        top: 50%;
        width: unset;
        z-index: 9;
    }
}

/* Main Page Blog Carousel
========================================================================= */
.blog-carousel {

    &__top {
        position: relative;
    }

    &__img {
        display: block;
        width: 100%;
        height: auto;
    }

    &__overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        transition: all .5s ease;

        i {
            transition: all 0.4s ease;
            font-size: 50px;
        }

        h5 {
            transition: all 0.4s ease;  
        }
    }

    &__tags {
        position: absolute;
        top: 16px;
        left: 14px;

        span {
            background-color: hsla(229, 83%, 60%, 0.5);
            font-size: 14px;
            margin-right: 5px;
            padding: 5px 16px;
            border-radius: 10px;
        }
    }

    &__link {
        &:hover {
            .blog-carousel__overlay i {
                color: #01A686;
            }

            .blog-carousel__showmore {
                opacity: 1;
            }

            h5 {
                color: #0043A4 !important;
            }
        }
    }

    &__showmore {
        opacity: 0;
        transition: all 0.4s ease;
    }

    &__next-btn {
        position: absolute;
        left: -80px;
        top: 50%;
        width: unset;
        z-index: 9;
    }
}

/* Show More Button
========================================================================= */

.showmore {

    &__icon {
        &:before {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            width: 0;
            margin-right: 0;
            transition: all 0.4s ease;
        }
    }
    
    &:hover {
        i:before {
            width: 20px;
            margin-right: 10px;
        }     
    }

}

/* Section Title
========================================================================= */

.section-title {
    transition: all 0.4s ease;
    cursor: pointer;
}

.section-title:hover {
    color: #0043A4 !important;
}

/* Coaches videos Carousel
========================================================================= */
.coachesvideos-carousel {
    &__container {

        position: relative;

        img {
            filter: grayscale(100%);
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
            transition: all 0.4s ease;
        }

        &__icon {
            position: absolute;
            top: 0;
            bottom: 0;
            left:0;
            right:0;
            margin: auto;
        }

        &:hover {
            img {
                -webkit-filter: grayscale(0);
                filter: none;
            }
        }
    }
}

/* Testimonials Carousel
========================================================================= */
.testimonial-carousel {
    &__card {
        padding: 24px;
        cursor: pointer;
        img {
            mix-blend-mode: luminosity;
            transition: all 0.4s ease;
        }
        h6 {
            color: #9f9f9f;
            transition: all 0.4s ease;
        }
        p {
            color: #707070;
            font-size: 15px;
            transition: all 0.4s ease;
        }
        &:hover {
            img {
                mix-blend-mode: unset;
            }
            h6 {
                color: #414141;
            }
            p {
                color: #0043A4;
            }
        }
    }
}

/* FAQ
========================================================================= */

.accordion-button::after {
    margin-left: 0;
    margin-right: auto;
}

.accordion-button:not(.collapsed) {
    background-color: white !important;
}

.accordion-button:focus {
    outline: none;
    box-shadow: none;
}


/* LIST OF COURSES
========================================================================= */

/* Hero Section
========================================================================= */

.list-of-courses-welcome {

    background-repeat: no-repeat;
    background-size: contain;

    &__row {
        min-height: 653px;
        align-items: center;
    }

}

@media (min-width: 576px) {
    .special-offres {
        &__info {
            background-color: #f8f8f8;
        }
    }
}

.special-offres {

    &__carousel {
        .clockdiv {
            direction: ltr;
            position: absolute;
            bottom: 24px;
            color: white;
            font-weight: bold;
            background-color: #FB5353;
            border-radius: 10px;
            font-size: 24px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            position: absolute;
            width: 85%;
            text-align: center;
            padding: 7px 0;
            
        }
    }

    &__info {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: 24px;
    }

    &__next-btn {
        position: absolute;
        left: -80px;
        top: 50%;
        width: unset;
        z-index: 9;
    }
}



/* Suggested Courses
========================================================================= */

.suggested-courses {
    &__course {

        cursor: pointer;

        .card {
            overflow: hidden;
        }

        .card-img-top, h5 {
            transition: all 0.4s ease;
        }

        &:hover {
            .card-img-top {
                transform: scale(1.05);
            }
            h5 {
                color: #0043A4;
            }
        }
    }
}